# Auth
GH_TOKEN=
NPM_TOKEN=

# Required Options
CI_PR_NUMBER=1
CI_COMMIT_BRANCH=ex-613
CI_SHA_SHORT=b9e76bf8

# Debug Mode
# RELEASE_DEBUG=true
# DEBUG=semantic-release:*

# General Options
RELEASE_PLUGIN_PRESET=
RELEASE_PUBLISH_FROM_DIST=true
RELEASE_DRY_RUN=true
RELEASE_LOCALLY=true

# Changelog
RELEASE_DISABLE_CHANGELOG=
RELEASE_CHANGELOG_FILE=CHANGELOG.md
RELEASE_CHANGELOG_TITLE=

# Release Rules
RELEASE_SKIP_README_UPDATES=
RELEASE_DEPRECATE_AS_MINOR_VERSION=
RELEASE_VERSION_AS_TYPE=

# Custom Commands
RELEASE_EXEC_ANALYZE_COMMITS_CMD=
RELEASE_EXEC_GENERATE_NOTES_CMD=
RELEASE_EXEC_ADD_CHANNEL_CMD=
RELEASE_EXEC_VERIFY_ARTIFACTS_CMD=
RELEASE_EXEC_CWD=
RELEASE_EXEC_FAIL_CMD=
RELEASE_EXEC_PREPARE_CMD=
RELEASE_EXEC_PUBLISH_CMD=
RELEASE_EXEC_SHELL=
RELEASE_EXEC_SUCCESS_CMD=
RELEASE_EXEC_VERIFY_CONDITIONS_CMD=

# Standardized Configs
RELEASE_CANARY_BRANCH=
RELEASE_CANARY_CHANNEL=
RELEASE_MODULE_BRANCHES=
RELEASE_MAIN_IS_LATEST=

# Notifications
RELEASE_NOTIFICATION_SLACK_WEBHOOK=
RELEASE_NOTIFICATION_SLACK_TOKEN=
RELEASE_NOTIFICATION_SLACK_ICON=
RELEASE_NOTIFICATION_SLACK_NAME=
RELEASE_NOTIFICATION_SLACK_CHANNEL=
RELEASE_NOTIFICATION_SLACK_CHANNEL_PUBLIC=
RELEASE_NOTIFICATION_SLACK_CHANNEL_PRIVATE=
